---
import WikiLayout from "@layouts/wiki.astro";
import { Button } from "@components/ui/button";
import { getCollection } from "astro:content";
import {
  TypographyH1,
  TypographyH2,
  TypographyP,
} from "@components/typography.tsx";
import hammerSmash from "@assets/icons/hammer-smash.svg";
import messageQuestion from "@assets/icons/message-question.svg";
import book from "@assets/icons/book.svg";
import DocCard from "@components/doc-card.astro";
import LocationCard from "@components/location-card.astro";

const featuredLocations = await getCollection(
  "locations",
  (x) =>
    x.slug === "kings-landing" || x.slug === "winterfell" || x.slug === "pyke"
);

const featuredDocs = await getCollection(
  "docs",
  (x) =>
    x.slug === "basic-building-guide-for-applicants" ||
    x.slug === "community-rules" ||
    x.slug === "frequently-asked-questions"
);

const iconMap = {
  "basic-building-guide-for-applicants": hammerSmash,
  "frequently-asked-questions": messageQuestion,
  "community-rules": book,
};
---

<WikiLayout title='WesterosCraft Documentation - WesterosCraft' hideBreadcrumbs>
  <div class='max-w-3xl mx-auto not-prose text-center'>
    <TypographyH1 className='text-bold text-center not-prose mb-6'>
      WesterosCraft Documentation
    </TypographyH1>
    <p>
      WesterosCraft is a fan-made project dedicated to recreating, in Minecraft,
      the fictional world of Westeros from George R.R. Martin's <i
        >A Song of Ice and Fire</i
      > book series, popularly known for its television adaptation <i
        >Game of Thrones</i
      >.<br /><br />
       These docs attempt to compile everything that may be useful for our
      project - from application guidelines, to custom mods and blocks, to how
      we plan our terrain and more.
    </p>
  </div>
  <div class='space-y-12 divide-y divide-primaryLightBorder/70 pb-20'>
    <div></div>
    <div>
      <div class='flex flex-row justify-between items-end'>
        <div class='flex flex-col'>
          <p class='mb-0'>Handy guides to get you started</p>
          <h2 class='mt-2 mb-0'>Learn about WesterosCraft</h2>
        </div>
        <div class='not-prose'>
          <a href='/docs/guides'>
            <Button variant='outline-red'>View All Guides</Button>
          </a>
        </div>
      </div>
      <div class='grid grid-cols-2 sm:grid-cols-3 gap-4 not-prose mt-6'>
        {featuredDocs?.map((doc) => <DocCard cardData={doc} />)}
      </div>
    </div>
    <div>
      <div class='flex flex-row justify-between items-end'>
        <div class='flex flex-col'>
          <p class='mb-0'>All of our builds</p>
          <h2 class='mt-2 mb-0'>Explore locations across Westeros</h2>
        </div>
        <div class='not-prose'>
          <a href='/locations'>
            <Button variant='outline-red'>View All Locations</Button>
          </a>
        </div>
      </div>
      <div class='grid grid-cols-2 sm:grid-cols-3 gap-4 not-prose mt-6'>
        {featuredLocations?.map((loc) => <LocationCard cardData={loc} />)}
      </div>
    </div>
    <div class='text-center pt-12 sm:pt-16 px-4'>
      <TypographyH2>
        {"Check out the progress in game!"}
      </TypographyH2>
      <TypographyP className='max-w-2xl mx-auto text-lg'>
        {
          `Westeros is home to over 500 cities, castles, and landmarks. Our goal is
        to construct them all. With over 300 completed so far, our community is
        well on our way to having a fully explorable map.`
        }
      </TypographyP>
      <div class='mt-8'>
        <a href='/join'>
          <Button
            size='lg'
            className='rounded-none text-lg bg-primaryRed text-white hover:bg-primaryRed/95'
          >
            {`Join the Server`}
          </Button>
        </a>
      </div>
    </div>
  </div>
</WikiLayout>
