---
import { filterLocationsBySearchParam } from "@lib/utils";
import { getCollection } from "astro:content";
import LocationSidebar from "./location-sidebar.astro";
import { LocationMobileMenu } from "./location-mobile-menu";
import { LocationCards } from "./location-cards";
const locations = await getCollection("locations");
const query = Astro.url.searchParams;
const filteredLocations = filterLocationsBySearchParam(locations, query);

console.log("filteredLocations:", filteredLocations);
---

<script>
  const buttons = document.querySelectorAll(".location-filter-checkbox");
  let count = 0;

  buttons?.forEach((button) => {
    button.addEventListener("click", function () {
      count++;
      console.log("count:", count);
    });
  });
</script>

<div class='flex flex-col space-y-4'>
  <LocationSidebar allLocations={locations} />
</div>
<div class='flex-1'>
  <LocationMobileMenu client:only='react' allLocations={locations}>
    <div class='cards-wrapper flex-1'>
      <LocationCards
        client:only='react'
        filteredLocations={filteredLocations}
        clickCount={5}
        view='card'
      />
    </div>
  </LocationMobileMenu>
</div>
