---
import WikiLayout from "@layouts/wiki.astro";
import { regions } from "@constants/index";
import { slugify } from "@lib/utils";
import WikiCard from "@components/wiki/wiki-card.astro";
---

<WikiLayout title='Locations'>
  <h1>Locations by Region</h1>

  <div class='grid grid-cols-1 sm:grid-cols-2 gap-6 not-prose'>
    {
      regions
        .sort((a, b) => (a.name < b.name ? -1 : a.name > b.name ? 1 : 0))
        .map((region) => (
          <a href={`/wiki/locations/${slugify(region.name)}`}>
            <WikiCard
              className='h-full'
              title={region.name}
              description={region.description || ""}
              icon={region?.icon}
            />
          </a>
        ))
    }
  </div>
</WikiLayout>
