---
import Steps from "./steps.astro";
import Step from "./step.astro";

interface Props {
  steps: { label: string; content: string; description?: string }[];
  orientation?: "horizontal" | "vertical";
  labelOrientation?: "horizontal" | "vertical";
  className?: string;
}

const { orientation, labelOrientation, className, steps, ...rest } =
  Astro.props;
---

<Steps orientation='vertical' className={className} {...rest}>
  {
    steps?.map(({ label, description, content, ...restStep }, index) => (
      <Step
        orientation='vertical'
        labelOrientation='vertical'
        index={index + 1}
        description={description}
        label={label || `Clue ${index + 1}`}
        {...restStep}
      >
        <div class='w-full text-left bg-primaryLightShade border-primaryLightBorder/70 p-4 text-slate-900 dark:bg-slate-300'>
          <p class='mb-2'>Solution:</p>
          <span class='[&>*]:transition-opacity [&>*]:duration-300 [&>*]:bg-black [&>*:hover]:bg-transparent [&>*]:text-transparent [&>*]:hover:text-black'>
            <p>{content}</p>
          </span>
        </div>
      </Step>
    ))
  }
</Steps>
