---
import { getEntry } from "astro:content";
import DocCard from "@components/doc-card.astro";
import LocationCard from "@components/location-card.astro";

const { card } = Astro.props;

const cardData = await getEntry(
  card?.discriminant === "location" ? "locations" : "docs",
  card.value
);
---

<div class='relationship-card my-5 not-prose'>
  {
    card?.discriminant === "location" ? (
      <LocationCard cardData={cardData} />
    ) : (
      <DocCard cardData={cardData} />
    )
  }
</div>
