---
import RootLayout from "@layouts/root.astro";
import ContainerBorder from "@components/container-border.astro";
import {
  TypographyH2,
  TypographyH3,
  TypographyH4,
} from "@components/typography";
import PageHeader from "@components/page-header.astro";
import GuideCard from "@components/guide-card.astro";
import { getEntry } from "astro:content";

const pageData = await getEntry("pages", "join");
import bannerImage from "../assets/pages/join/banner.png";

// Restructure this page better - idea to break it all into easy steps. step 3 will link to all available guides
// Step 1: Buy Minecraft, Java
// Step 2: Download launchers
// Step 3: Follow guide for
// launcher to install our Modpack
// Step 4: Enjoy playing - link to useful commands and the FAQ page, other links maybe
---

<RootLayout title='Join WesterosCraft'>
  <div class='flex flex-col w-full'>
    <PageHeader
      borderBottom
      title={pageData?.data?.heading || "Join the Watch"}
      copy={pageData?.data?.subheading ||
        "We have several different ways to start exploring the server and have compiled guides on all the suggested ways below! Be sure to read the guides in full."}
      bannerUrl={bannerImage}
    />
    <div class='w-full'>
      <ContainerBorder variant='light' className='py-24 sm:py-32'>
        <div
          class='px-4 sm:px-6 lg:px-8 max-w-7xl flex flex-col gap-10 sm:flex-row justify-between items-center'
        >
          <div class='flex max-w-xl px-4 text-left flex-col mx-auto'>
            <TypographyH2 className='text-primaryRed'>
              Getting Started
            </TypographyH2>
            <p class='mt-6 font-medium text-xl'>
              <b>WesterosCraft</b> uses several mods to aid our realistic and
              book accurate version of Westeros. <br /><br /> In order to get
              you in the server and exploring what we've built so far as easy as
              possible, we've compiled several ways you can get the mods you
              need to be able to connect below.<br /><br />
              <b>Be sure to read the guides thoroughly</b>, and if you need any
              help, feel free to check out the tech support forum or the
              <a
                class='underline decoration-primaryRed'
                href='https://discord.com/invite/pBS5TH4'
                target='_blank'>#techsupport Discord channel</a
              >!
            </p>
            <div class='mt-6'>
              <TypographyH3>Requirements To Play</TypographyH3>
              <ul class='my-4 ml-6 list-disc [&>li]:mt-2'>
                <li>A valid Java Minecraft account</li>
                <li>At least 4gigs of RAM dedicated, preferably 6GB</li>
                <li>
                  Have read our <a class='underline decoration-primaryRed'
                    >server rules</a
                  >
                </li>
                <li>Access to our Discord</li>
              </ul>
            </div>
          </div>
          <GuideCard
            isRecommended
            title='CurseForge Launcher'
            description='Dedicated app for handling mods and addons, not just for Minecraft but other games as well.'
          />
        </div>
      </ContainerBorder>
      <ContainerBorder className='pt-14 pb-8 px-4 border border-b'>
        <div class='flex flex-col justify-center items-center'>
          <TypographyH2>Other Launchers</TypographyH2>
        </div>
      </ContainerBorder>
      <ContainerBorder>
        <p class='max-w-2xl mx-auto text-center mt-6 font-medium text-xl mb-20'>
          There are many ways to play modded Minecraft, and several launchers.
          We've attempted to write brief guides on downloading the WesterosCraft
          Modpack with them.
        </p>
        <div class='flex flex-row pb-24 sm:pb-32 justify-evenly items-center'>
          <GuideCard
            title='CurseForge Launcher'
            description='Dedicated app for handling mods and addons, not just for Minecraft but other games as well.'
          />
          <GuideCard
            title='CurseForge Launcher'
            description='Dedicated app for handling mods and addons, not just for Minecraft but other games as well.'
          />
        </div>
      </ContainerBorder>

      <ContainerBorder className='pt-14 pb-8 px-4 border border-b'>
        <div
          class='flex flex-col justify-center items-center max-w-2xl text-center mx-auto'
        >
          <TypographyH2>More Ways To Play</TypographyH2>
          <TypographyH4 className='mt-6'>
            Don't want to download a third party program or for running into
            issues getting them to work? There are still more options for you!
          </TypographyH4>
        </div>
      </ContainerBorder>
    </div>
  </div>
</RootLayout>
