---
import { getCollection } from "astro:content";
import LocationLayout from "@layouts/location.astro";
import { slugify, camel2title } from "@lib/utils";
import ProjectDetailsCard from "@components/project-details-card.astro";
import Prose from "@components/prose.astro";
import BackToLocationsLink from "@components/back-to-locations-link.astro";
import Carousel from "@components/home/carousel";

export async function getStaticPaths() {
  const locations = await getCollection("locations");

  return locations.map((location) => {
    return {
      params: {
        region: slugify(camel2title(location.data.region)),
        slug: location.slug,
      },
      props: {
        location: { ...location },
      },
    };
  });
}

const { location } = Astro.props;
const { Content } = await location?.render();
---

<LocationLayout
  title={`${location?.data.title} - WesterosCraft`}
  ogTitle={`${location?.data.title} - WesterosCraft`}
  ogImage={location?.data?.locationImages?.[0]?.src}
>
  <BackToLocationsLink slot='back-to-locations' />
  {
    location?.data && (
      <ProjectDetailsCard
        slot='location-details'
        projectDetails={location?.data}
      />
    )
  }
  <Fragment slot='location-image'>
    <div class='h-[430px]'>
      <Carousel
        showDots
        slides={location?.data?.locationImages?.map((img) => ({
          image: img.src,
        }))}
        client:load
        slideHeight={400}
        linkImageExternally
      />
    </div>
  </Fragment>
  <Fragment slot='location-content'>
    {
      Content && (
        <div class='pb-12 break-words'>
          <Prose>
            <Content />
          </Prose>
        </div>
      )
    }
  </Fragment>
</LocationLayout>
