---
import { slugify, camel2title } from "@lib/utils";
import { REGIONS } from "@constants/index";

export async function getStaticPaths() {
  return REGIONS.map((region) => {
    return {
      params: {
        region: slugify(camel2title(region.value)),
      },
      props: {
        region: slugify(camel2title(region.value)),
      },
    };
  });
}

const { region } = Astro.props;

return Astro.redirect(`/locations?region=${region}`);
---

<h2>Redirecting you...</h2>
