<div class='bg-primaryRed px-4 py-6 w-full text-center relative'>
  <div
    class='select-none absolute top-0 left-0 w-full h-full opacity-60 bg-square-pattern'
  >
  </div>

  <p class='text-white'>Banner text</p>
</div>
