---
import { Image } from "astro:assets";
import { Button } from "@components/ui/button";
import HeroMarquee from "../hero-marquee";
import {
  TypographyH2,
  TypographyH4,
  TypographyP,
} from "@components/typography";
import heroImage from "../../assets/pages/home/hero/heroImage.webp";
import pykeImage from "../../assets/pages/home/hero/pyke.webp";

import Carousel from "./carousel";

const {
  data: { heading, highlighted, subheading, buttons },
} = Astro.props;

const SLIDES = [
  { img: heroImage, name: "Kings Landing1" },
  { img: pykeImage, name: "Pyke" },
  { img: heroImage, name: "Kings Landing3" },
  { img: heroImage, name: "Kings Landing4" },
  { img: pykeImage, name: "Pyke" },
  { img: heroImage, name: "Kings Landing5" },
];
---

<head>
  <link
    rel='stylesheet'
    type='text/css'
    charset='UTF-8'
    href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'
  />
  <link
    rel='stylesheet'
    type='text/css'
    href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'
  />
</head>
<div
  class='px-8 py-12 grid grid-cols-2 gap-8 w-full min-h-[100vh] lg:h-[min(880px,max(630px,76vh))] lg:min-h-0 max-w-[1920px]'
>
  <div class='bg-primaryDark'>
    <div
      class='flex flex-col items-center justify-center h-full max-w-4xl px-4 md:px-8 text-center'
    >
      <TypographyH2 className='uppercase text-primaryRedShade'>
        Explore the world of
      </TypographyH2>
      <h1
        style={{
          textShadow: "0 4px 0 #9B2C2C",
        }}
        class='font-esmeralda scroll-m-20 mt-2 mb-10 text-6xl font-extrabold tracking-tight lg:text-8xl text-primaryLight'
      >
        Westeros Inside Minecraft
      </h1>
      <p
        class='text-white text-lg lg:text-xl md:max-w-[320px] lg:max-w-[430px] xl:max-w-[560px]'
      >
        Explore a meticulously crafted virtual realm inspired by George R.R.
        Martin's epic fantasy world. From King's Landing to Winterfell, our
        immersive Minecraft server offers a stunning, player-driven recreation
        of the Seven Kingdoms.
      </p>
      <Button
        size='lg'
        className='hover:bg-primaryGoldShade font-semibold rounded-none text-md bg-primaryGold text-primaryDark mt-8'
      >
        Explore Westeros
      </Button>
    </div>
  </div>
  <div class='bg-yellow-600 relative'>
    <Carousel client:load>
      {
        SLIDES.map((slide: any, i) => (
          <div class='keen-slider__slide relative'>
            <Image
              class='object-cover h-[660px]'
              sizes='60vw'
              src={slide.img}
              width={912}
              height={660}
              alt={slide.name}
            />
            <p class='absolute bottom-4 left-4 text-white'>{slide.name}</p>
          </div>
        ))
      }
    </Carousel>
  </div>
</div>
