---
import ContainerBorder from "@components/container-border.astro";
import { TypographyH1, TypographyP } from "@components/typography";
const { data } = Astro.props;
---

<ContainerBorder variant='dark' className='pt-14 pb-8 px-4'>
  <div class='text-white text-center lg:max-w-xl mx-auto'>
    <div>
      <TypographyH1 className='text-primaryGold font-esmeralda'>
        {data?.heading || "10 years of WesterosCraft"}
      </TypographyH1>
    </div>
    <div>
      <TypographyP className='text-lg mt-8'>
        {
          data?.description ||
            `From simple cobblestone shacks in 2011 to ornate cities in 2021, we have
        come a long way from our humble beginnings. Our goal is to create one of
        the largest and most detailed Minecraft worlds ever built.`
        }
      </TypographyP>
    </div>
  </div>
</ContainerBorder>
