---
import { TypographyP } from "@components/typography";
---

<div class='text-center max-w-2xl mx-auto mb-24 px-4'>
  <div>
    <TypographyP className='text-white text-xl'>
      <span class='text-primaryGold'>WesterosCraft</span> is a modded server
      where visitors can explore the entire continent of Westeros and are free
      to join the community of builders bringing it to life. Wander the streets
      of King’s Landing or the fields of Highgarden. Take a flight through the
      deadly Moon Door, or even retrace the steps of your favorite character.
    </TypographyP>
  </div>
</div>
