---
import { Button } from "@components/ui/button";
import { ArrowLeft } from "lucide-react";
---

<a href='javascript: history.go(-1)'>
  <Button
    variant='link'
    className='pl-0 hover:text-primaryRed no-underline hover:no-underline font-semibold'
  >
    <ArrowLeft size='18' className='mr-2' />
     Back to Locations
  </Button>
</a>
