---
import clsx from "clsx";
interface Props {
  variant?: "light" | "dark";
  className?: string;
  borderBottom?: boolean;
}
const { variant = "light", className, borderBottom } = Astro.props;

const borderBottomStyle = borderBottom ? "border-b-2" : "";
const borderColorStyle =
  variant === "light" ? "border-primaryDark" : "border-primaryGold";
---

<section class='w-full'>
  <div class='max-w-7xl mx-auto px-2 md:px-5'>
    <div
      class={clsx(
        "flex flex-col w-full mx-auto border-l-0 sm:border-l-2 border-r-0 sm:border-r-2",
        borderColorStyle,
        borderBottomStyle,
        className
      )}
    >
      <slot />
    </div>
  </div>
</section>
