---
import { TypographyP } from "./typography";
import LinkGrid from "./link-grid.astro";
import SocialMediaLinks from "./social-media-links.astro";
---

<footer class='bg-primaryDark py-12 px-4 md:px-8 text-white w-full'>
  <div class='flex flex-col max-w-7xl mx-auto gap-10 divide-solid'>
    <div
      class='flex flex-col items-center sm:items-start md:flex-row gap-10 lg:gap-28 justify-between'
    >
      <div class='flex flex-col items-center sm:items-start gap-4'>
        <img
          src='/westeroscraft.svg'
          alt='WesterosCraft Logo'
          width={176}
          height={24}
        />
        <a href='mailto:westeroscraft@gmail.com'>westeroscraft@gmail.com</a>
      </div>

      <div
        class='flex flex-col md:flex-row gap-10 md:gap-20 justify-between w-full md:w-auto'
      >
        <LinkGrid />
      </div>
    </div>

    <div
      class='flex flex-col-reverse md:flex-row justify-between items-center text-center md:text-left gap-4'
    >
      <TypographyP>
        WesterosCraft is a free, volunteer fan project not affiliated in any way
        with GRRM, Mojang, or HBO.
      </TypographyP>
      <SocialMediaLinks />
    </div>
  </div>
</footer>
