---
import { TypographyH3 } from "@components/typography";
import { Button } from "@components/ui/button";

const { title, description, isRecommended } = Astro.props;
---

<div
  class='flex flex-col relative p-12 border-2 border-black prose w-full max-w-md overflow-hidden'
>
  <TypographyH3>{title}</TypographyH3>
  <p>
    {description}
  </p>
  <ul>
    <li>Quick and responsive</li>
    <li>Supports mod authors</li>
    <li>Connected to central modpack repository</li>
    <li>Built in mods manager</li>
    <li>Auto java setup</li>
  </ul>
  {
    isRecommended && (
      <div class='flex bg-primaryRed absolute -right-[64px] top-9 w-[240px] rotate-45 py-2 justify-center items-center'>
        <p class='text-white !m-0'>Recommended</p>
      </div>
    )
  }
  <Button size='lg' className='rounded-none text-lg'>View Guide</Button>
</div>
