---
import { TypographyP } from "./typography.jsx";
---

<div class='grid grid-cols-2 sm:grid-cols-3 gap-6 md:gap-0'>
  <div class='min-w-[130px] text-center sm:text-left'>
    <TypographyP className='mb-3'>ABOUT</TypographyP>
    <div class='flex flex-col gap-2'>
      <a href='/about'>About Us</a>
      <a href='/locations'>Locations</a>
      <a href='/rookery'>The Rookery</a>
    </div>
  </div>
  <div class='min-w-[130px] text-center sm:text-left'>
    <TypographyP className='mb-3'>COMMUNITY</TypographyP>
    <div class='flex flex-col gap-2'>
      <a target='_blank' href='https://forum.westeroscraft.com/forum/'>
        Forums
      </a>
      <a href='https://westeroscraft.com/docs/getting-started/apply-to-build'>
        Apply
      </a>
      <a target='_blank' href='https://discord.com/invite/pBS5TH4'> Discord</a>
    </div>
  </div>
  <div class='min-w-[130px] text-center sm:text-left'>
    <TypographyP className='mb-3'>RESOURCES</TypographyP>
    <div class='flex flex-col gap-2'>
      <a href='/docs'>Docs</a>
      <a target='_blank' href='http://mc.westeroscraft.com/'> Map</a>
      <a target='_blank' href='https://ko-fi.com/westeroscraft'> Donate</a>
    </div>
  </div>
</div>
