---
import { Image } from "astro:assets";
import { Button } from "@components/ui/button";
import HeroMarquee from "./hero-marquee";
import { TypographyH2 } from "@components/typography";
import highgarden from "../assets/marquee/highgarden.jpg";
import ghostHill from "../assets/marquee/ghost_hill.jpg";
import redKeep from "../assets/marquee/red_keep.jpg";
import roxton from "../assets/marquee/roxton.jpg";
import uffering from "../assets/marquee/uffering.jpg";
import kingsLanding from "../assets/marquee/kings_landing.jpg";
import winterfell from "../assets/marquee/winterfell.jpg";
import pyke from "../assets/marquee/pyke.jpg";

const marqueeImages = [
  {
    file: highgarden,
    name: "Highgarden",
  },
  { file: ghostHill, name: "Ghost Hill" },
  { file: pyke, name: "Pyke" },
  { file: redKeep, name: "Red Keep" },
  { file: roxton, name: "Roxton" },
  { file: winterfell, name: "Winterfell" },
  { file: uffering, name: "Uffering" },
  { file: kingsLanding, name: "Kings Landing" },
];

const {
  data: { heroImage, heading, highlighted, subheading, buttons },
} = Astro.props;
---

<style is:global>
  .rfm-child {
    display: flex !important;
    flex-direction: row !important;
  }
</style>

<div class='flex flex-col justify-center items-center w-full pt-[80px]'>
  <div
    class='flex flex-col items-center justify-center max-w-4xl px-4 md:px-8 text-center'
  >
    <TypographyH2 className='uppercase'>Explore the world of</TypographyH2>
    <h1
      style={{
        textShadow: "0 4px 0 #d1d0d0",
      }}
      class='font-esmeralda scroll-m-20 mt-2 mb-10 text-6xl font-extrabold tracking-tight lg:text-8xl text-primaryRed'
    >
      Westeros Inside Minecraft
    </h1>
    <p class='text-lg lg:text-xl'>
      Explore a meticulously crafted virtual realm inspired by George R.R.
      Martin's epic fantasy world. From King's Landing to Winterfell, our
      immersive Minecraft server offers a stunning, player-driven recreation of
      the Seven Kingdoms.
    </p>
    <Button
      size='lg'
      className='hover:bg-red-900 font-semibold rounded-none text-md bg-primaryDark text-white mt-8'
    >
      Explore Westeros
    </Button>
  </div>
  <div class='w-full'>
    <HeroMarquee client:load>
      {
        marqueeImages.map((x) => (
          <div class='relative'>
            <Image
              quality='max'
              class='mx-4'
              alt={x.name}
              src={x.file}
              loading='lazy'
              width='500'
              height='283'
            />
            <p class='absolute bottom-4 left-8 text-white text-bold'>
              {x.name}
            </p>
          </div>
        ))
      }
    </HeroMarquee>
  </div>
</div>
