---
import { titleizeASlug } from "@lib/utils";
import dayjs from "dayjs";

interface ProjectDetails {
  title: string;
  region: string;
  projectStatus: string;
  projectType: string;
  warp: string;
  house: string;
  application: string;
  projectLeads: string;
  dateStarted: string;
  dateCompleted: string;
  difficultyLevel: string;
  redoAvailable: boolean;
  serverProject: boolean;
  // dynmap: [Object]
}
interface Props {
  projectDetails: ProjectDetails;
  style?: string;
}

const { projectDetails, style } = Astro.props;

const items = [
  { name: "Region", value: titleizeASlug(projectDetails?.region) },
  { name: "Project Lead(s)", value: projectDetails?.projectLeads },
  { name: "House", value: projectDetails?.house },
  { name: "Status", value: titleizeASlug(projectDetails?.projectStatus) },
  { name: "Warp", value: projectDetails?.warp },
  {
    name: "Date Started",
    value: dayjs(projectDetails?.dateStarted).format("MMMM D, YYYY"),
  },
  {
    name: "Date Completed",
    value: dayjs(projectDetails?.dateStarted).format("MMMM D, YYYY"),
  },
];
---

<div class={style}>
  <p class="mb-4 text-md font-semibold tracking-tight">Project Details</p>
  <ul>
    {
      items.map((item) => (
        <li class="text-sm my-2 scroll-my-6 scroll-py-6">
          <span class="font-medium">{item.name}</span>
          {`: ${item.value}`}
        </li>
      ))
    }
  </ul>
</div>
