---
import TocLink from "./toc-link.astro";

const { toc, style } = Astro.props;
---

<!-- https://www.anca.io/posts/adding-necessary-features-in-the-astro-markdoc-blog/ -->
<div class={style}>
  {
    toc && toc.length >= 1 ? (
      <p class="mb-4 text-md font-semibold tracking-tight">On This Page</p>
    ) : null
  }
  <nav>
    <ul class="px-0 py-0 mx-0 my-0 list-none">
      {
        toc?.map((item: { slug: any; depth: number; text: unknown }) => {
          const href = `#${item.slug}`;
          const active =
            typeof window !== "undefined" && window.location.hash === href;
          return (
            <li
              class={[
                "font-medium text-sm my-2 scroll-my-6 scroll-py-6",
                "flex items-start",
                active ? "underline hover:underline flex items-center" : "",
                item.depth === 3 ? "ml-4" : "",
                item.depth === 4 ? "ml-6" : "",
              ]
                .filter(Boolean)
                .join(" ")}
            >
              <TocLink class:list={["break-word"]} href={`#${item.slug}`}>
                <span class="font-medium text-gray-800">{item?.text}</span>
              </TocLink>
            </li>
          );
        })
      }
    </ul>
  </nav>
</div>
