---
import WikiLayout from "@layouts/wiki.astro";
import { getCollection } from "astro:content";

import ProjectDetailsCard from "@components/project-details-card.astro";
import TableOfContents from "@components/table-of-contents.astro";

// interface Props extends Location {}

export async function getStaticPaths() {
  const locations = await getCollection("locations");

  return locations.map((location) => {
    return {
      params: {
        region: location.data.region,
        slug: location.slug,
      },
      props: {
        location: { ...location },
      },
    };
  });
}

const { location } = Astro.props;
const { Content } = await location?.render();
---

<WikiLayout title={location?.data.title}>
  <!-- <TableOfContents slot='toc' content={layout} /> -->
  <ProjectDetailsCard slot='project-details' projectDetails={location.data} />
  <h1>{location?.data.title}</h1>
  <Content />
</WikiLayout>
