---
import WikiLayout from "@layouts/wiki.astro";
import { slugify } from "@lib/utils";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const regions = [
    "Dorne",
    "The Wall",
    "North",
    "Vale",
    "Iron Islands",
    "Westerlands",
    "Crownlands",
    "Riverlands",
    "Stormlands",
    "Reach",
    "Beyond The Wall",
  ];

  return regions.map((region) => {
    return {
      params: {
        region: slugify(region),
      },
      props: {
        region: slugify(region),
      },
    };
  });
}

const { region: pageRegion } = Astro.props;

const filteredLocations = await getCollection(
  "locations",
  ({ data: { region } }) => {
    return region === pageRegion;
  }
);
---

<WikiLayout title='Region apge'>
  {filteredLocations.map((i) => <h1>{i.data.title}</h1>)}
</WikiLayout>
