---
import { TypographyP } from "../typography";
---

<div class='grid grid-cols-2 sm:grid-cols-3'>
  <div class='min-w-[130px]'>
    <TypographyP class='mb-3'>About</TypographyP>
    <div class='flex flex-col gap-2'>
      <a href='/about'>About Us</a>
      <a href='/progress'>Progress</a>
      <a href='/rookery'>The Rookery</a>
    </div>
  </div>
  <div class='min-w-[130px]'>
    <TypographyP class='mb-3'>Community</TypographyP>
    <div class='flex flex-col gap-2'>
      <a target='_blank' href='https://forum.westeroscraft.com/forum/'>
        Forums
      </a>
      <a
        target='_blank'
        href='https://forum.westeroscraft.com/form/builder-application-form.3/select'
      >
        Apply
      </a>
      <a target='_blank' href='https://discord.com/invite/pBS5TH4'> Discord</a>
    </div>
  </div>
  <div class='min-w-[130px]'>
    <TypographyP class='mb-3'>Resources</TypographyP>
    <div class='flex flex-col gap-2'>
      <a href='/wiki'>Wiki</a>
      <a target='_blank' href='http://mc.westeroscraft.com/'> Map</a>
      <a target='_blank' href='https://ko-fi.com/westeroscraft'> Donate</a>
    </div>
  </div>
</div>
