---
import { SiteHeader } from "@components/site-header";
import Footer from "@components/footer.astro";
import { getEntry } from "astro:content";

const navigation = await getEntry("pages", "mainNav");

const { title } = Astro.props.frontmatter || Astro.props || "WesterosCraft";
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='relative flex min-h-screen flex-col antialiased bg-primaryLight'>
    <SiteHeader navigation={navigation} client:load />
    <slot />
    <Footer />
  </body>
</html>
